.DS_Store
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
.vscode/extensions/**/out/
extensions/**/dist/
/out*/
/extensions/**/out/
build/node_modules
coverage/
test_data/
test-results/
test-results.xml
vscode.lsif
vscode.db
/.profile-oss
/cli/target
/cli/openssl
product.overrides.json
*.snap.actual
.vscode-test

# Neptor added these:
.tmp/
.tmp2/
.tool-versions
.cursor/
.idx/
.config/
.configurations/
.devcontainer/
CodeQL.yml
cglicenses.json
cgmanifest.json
**/cgmanifest.json
ThirdPartyNotices.txt
**/ThirdPartyNotices.txt
LICENSE-VS-Code.txt
src/vs/workbench/contrib/neptor/browser/react/out/**
src/vs/workbench/contrib/neptor/browser/react/src2/**

# Local secrets and generated PM/editor state
.env
.env.*
!.env.example
.neptor/
