[Desktop Entry]
Name=Neptor - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=neptor --open-url %U
Icon=neptor
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/neptor;
Keywords=neptor;
